$color-primary: #409EFF !default;
$color-success: #67C23A !default;
$color-info: #909399 !default;
$color-warning: #E6A23C !default;
$color-danger: #F56C6C !default;
$color-text-primary: #303133 !default;
$color-text-regular: #606266 !default;
$color-text-secondary: #909399 !default;
$color-text-placeholder: #C0C4CC !default;
$border-color-base: #DCDFE6 !default;
$border-color-light: #E4E7ED !default;
$border-color-lighter: #EBEEF5 !default;
$border-color-extra-light: #F2F6FC !default;
$color-black: #000000 !default;
$color-white: #FFFFFF !default;
$background-color-base: #F5F7FA !default;

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
// $yiq-text-dark: $gray-900 !default;
// $yiq-text-light: $white !default;

// fusv-disable example for $primary
$primary-100: tint-color($color-primary, 8) !default;
$primary-200: tint-color($color-primary, 6) !default;
$primary-300: tint-color($color-primary, 4) !default;
$primary-400: tint-color($color-primary, 2) !default;
$primary-500: $color-primary !default;
$primary-600: shade-color($color-primary, 2) !default;
$primary-700: shade-color($color-primary, 4) !default;
$primary-800: shade-color($color-primary, 6) !default;
$primary-900: shade-color($color-primary, 8) !default;
// fusv-enable

$color-primary-light: tint-color($color-primary, 10) !default;
$color-primary-lighter: tint-color($color-primary, 11) !default;
$color-success-light: tint-color($color-success, 10) !default;
$color-success-lighter: tint-color($color-success, 11) !default;
$color-info-light: tint-color($color-info, 10) !default;
$color-info-lighter: tint-color($color-info, 11) !default;
$color-warning-light: tint-color($color-warning, 10) !default;
$color-warning-lighter: tint-color($color-warning, 11) !default;
$color-danger-light: tint-color($color-danger, 10) !default;
$color-danger-lighter: tint-color($color-danger, 11) !default;