.demo-wrap {
    border: solid 1px #eee;
    border-radius: 5px;
    padding: 10px;

    .title {
        line-height: 35px;
        font-size: 18px;
        font-weight: 700;
    }
    .module-wrap {
        .content {}

        .config {}
    }
}